In [1]:
import pandas as pd

### Data Source
Kaggle dataset on Population distribution of Kenya

In [2]:
population= pd.read_csv('population_kenya.csv')

In [3]:
population.tail(30)

,County,Area in Square Km.,Density,Females,Males,No of HouseHolds,Total Population
17,KITUI,30496.51,33.210000,531427,481282,205491,1012709
18,KWALE,8270.15,78.590000,333934,315997,122047,649931
19,LAIKIPIA,9461.92,42.190000,200602,198625,103114,399227
20,LAMU,6273.12,16.190000,48494,53045,22184,101539
21,MACHAKOS,6208.24,176.960000,555445,543139,264500,1098584
22,MAKUENI,8008.75,110.450000,453817,430710,186478,884527
23,MANDERA,25991.47,39.470000,465813,559943,125497,1025756
24,MARSABIT,70961.19,4.100000,140054,151112,56941,291166
25,MERU,6936.24,195.540000,685645,670656,319616,1356301
26,MIGORI,2596.44,353.241361,472814,444356,180211,917170
27,MOMBASA,218.86,4292.090000,452446,486924,268700,939370
28,MURANGA,2558.82,368.370000,484717,457864,255696,942581
29,NAIROBI,695.10,4514.960000,1533139,1605230,985016,3138369
30,NAKURU,7495.07,213.920000,798743,804582,409836,1603325
31,NANDI,2884.18,261.070000,376477,376488,154073,752965
32,NAROK,17933.05,47.450000,421894,429026,169220,850920
33,NYAMIRA,899.33,665.220000,311204,287048,131039,598252
34,NYANDARUA,3245.25,183.740000,304113,292155,143879,596268
35,NYERI,3337.09,207.830000,353833,339725,201703,693558
36,SAMBURU,21022.15,10.650000,111940,112007,47354,223947
37,SIAYA,2530.38,332.880000,443652,398652,199034,842304
38,TAITA TAVETA,17084.04,16.660000,139323,145334,71090,284657
39,TANA RIVER,38436.91,6.250000,120222,119853,47414,240075
40,THARAKA,2638.83,138.440000,186879,178451,88803,365330
41,TRANS-NZOIA,2495.53,328.090000,411585,407172,170117,818757
42,TURKANA,68680.29,12.450000,410330,445069,123191,855399
43,UASIN GISHU,3345.21,267.300000,445185,448994,202291,894179
44,VIHIGA,530.90,1044.680000,291906,262716,123347,554622
45,WAJIR,56685.83,11.680000,298175,363766,88574,661941
46,WEST POKOT,9169.41,55.910000,257863,254827,93777,512690

In [4]:
population['Total Population'].sum()

38610097

In [5]:
population ['% population']=population.iloc[:, 6:].apply(lambda x: (x / x.sum())*100)

In [6]:
population.head()

,County,Area in Square Km.,Density,Females,Males,No of HouseHolds,Total Population,% population
0,BARINGO,11015.34,50.44,276480,279081,110649,555561,1.438901
1,BOMET,2471.30,293.04,364459,359727,142361,724186,1.875639
2,BUNGOMA,3592.76,453.95,835339,795595,321628,1630934,4.224113
3,BUSIA,1134.42,430.24,256000,232075,103421,488075,1.264112
4,ELGEYO MARAKWET,3029.78,122.12,186260,183738,77555,369998,0.958293

## Survey
Kenya registered approximately 63.5 million mobile connections (excluding IoT) as of the fourth quarter of 2021. The number corresponded to 114 percent of the country's population, indicating the individual use of multiple connections. 

Reference: 
Statista. (2022, April 27). Number of mobile connections in Kenya 2017–2021. https://www.statista.com/statistics/1246821/number-of-mobile-connections-kenya/

1. Analysis of Mobile subscribers per County

In [23]:
population['Mobile Subcriptions']=((population['% population']/100) *63500000).astype(int)

In [24]:
population

,County,Area in Square Km.,Density,Females,Males,No of HouseHolds,Total Population,% population,Mobile Subcriptions
0,BARINGO,11015.34000,50.44000,276480,279081,110649,555561,1.43890,913702
1,BOMET,2471.30000,293.04000,364459,359727,142361,724186,1.87564,1191030
2,BUNGOMA,3592.76000,453.95000,835339,795595,321628,1630934,4.22411,2682311
3,BUSIA,1134.42000,430.24000,256000,232075,103421,488075,1.26411,802711
4,ELGEYO MARAKWET,3029.78000,122.12000,186260,183738,77555,369998,0.95829,608516
5,EMBU,2818.04000,183.18000,261909,254303,131683,516212,1.33699,848986
6,GARISSA,44175.02000,14.10000,288121,334939,98590,623060,1.61372,1024714
7,HOMA BAY,3183.29000,302.76663,501340,462454,206255,963794,2.49622,1585101
8,ISIOLO,25336.07000,5.66000,69600,73694,31326,143294,0.37113,235668
9,KAJIADO,21900.97000,31.38000,342166,345146,173464,687312,1.78014,1130385
10,KAKAMEGA,3051.23000,544.26000,859662,800989,355679,1660651,4.30108,2731185
11,KERICHO,2478.99000,305.91000,376359,381980,160134,758339,1.96410,1247200
12,KIAMBU,2543.42000,638.23000,820673,802609,469244,1623282,4.20429,2669726
13,KILIFI,12609.74000,88.01000,574209,535526,199764,1109735,2.87421,1825122
14,KIRINYAGA,1479.09000,357.01000,267424,260630,154220,528054,1.36766,868462
15,KISII,1317.53000,874.58000,601818,550464,245029,1152282,2.98441,1895097
16,KISUMU,2085.93000,464.50000,494149,474760,226719,968909,2.50947,1593513
17,KITUI,30496.51000,33.21000,531427,481282,205491,1012709,2.62291,1665549
18,KWALE,8270.15000,78.59000,333934,315997,122047,649931,1.68332,1068907
19,LAIKIPIA,9461.92000,42.19000,200602,198625,103114,399227,1.03400,656587
20,LAMU,6273.12000,16.19000,48494,53045,22184,101539,0.26299,166995
21,MACHAKOS,6208.24000,176.96000,555445,543139,264500,1098584,2.84533,1806783
22,MAKUENI,8008.75000,110.45000,453817,430710,186478,884527,2.29092,1454735
23,MANDERA,25991.47000,39.47000,465813,559943,125497,1025756,2.65670,1687007
24,MARSABIT,70961.19000,4.10000,140054,151112,56941,291166,0.75412,478865
25,MERU,6936.24000,195.54000,685645,670656,319616,1356301,3.51281,2230637
26,MIGORI,2596.44000,353.24136,472814,444356,180211,917170,2.37547,1508421
27,MOMBASA,218.86000,4292.09000,452446,486924,268700,939370,2.43296,1544932
28,MURANGA,2558.82000,368.37000,484717,457864,255696,942581,2.44128,1550213
29,NAIROBI,695.10000,4514.96000,1533139,1605230,985016,3138369,8.12836,5161510
30,NAKURU,7495.07000,213.92000,798743,804582,409836,1603325,4.15261,2636904
31,NANDI,2884.18000,261.07000,376477,376488,154073,752965,1.95018,1238362
32,NAROK,17933.05000,47.45000,421894,429026,169220,850920,2.20388,1399463
33,NYAMIRA,899.33000,665.22000,311204,287048,131039,598252,1.54947,983913
34,NYANDARUA,3245.25000,183.74000,304113,292155,143879,596268,1.54433,980650
35,NYERI,3337.09000,207.83000,353833,339725,201703,693558,1.79631,1140658
36,SAMBURU,21022.15000,10.65000,111940,112007,47354,223947,0.58002,368313
37,SIAYA,2530.38000,332.88000,443652,398652,199034,842304,2.18156,1385293
38,TAITA TAVETA,17084.04000,16.66000,139323,145334,71090,284657,0.73726,468160
39,TANA RIVER,38436.91000,6.25000,120222,119853,47414,240075,0.62179,394838
40,THARAKA,2638.83000,138.44000,186879,178451,88803,365330,0.94620,600839
41,TRANS-NZOIA,2495.53000,328.09000,411585,407172,170117,818757,2.12058,1346566
42,TURKANA,68680.29000,12.45000,410330,445069,123191,855399,2.21548,1406829
43,UASIN GISHU,3345.21000,267.30000,445185,448994,202291,894179,2.31592,1470609
44,VIHIGA,530.90000,1044.68000,291906,262716,123347,554622,1.43647,912157
45,WAJIR,56685.83000,11.68000,298175,363766,88574,661941,1.71442,1088659
46,WEST POKOT,9169.41000,55.91000,257863,254827,93777,512690,1.32787,843194

In [9]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [25]:
population.to_csv("mobile_subscription.csv")